fastapi==0.115.0
uvicorn[standard]==0.30.6

yfinance==0.2.43
curl_cffi==0.7.3

pandas==2.2.2
numpy==1.26.4

scikit-learn==1.5.1

tensorflow==2.17.0

joblib==1.4.2

pydantic==2.8.2

streamlit==1.37.1
requests==2.32.3
plotly==5.23.0

